#footer.hidden-print
  / Copyright Line
  .copy
    Crack -
    %a Todos los derechos reservados
    .desarrolladores
      Desarrollado por 
      %a{:href => "http://grupoemporium.com/", :target => "_blank"} GrupoEmporium
  / End Copyright Line
  / Copyright Line
  / End Copyright Line
/ // Footer END