<%= image_tag(asset_path("logos/ic_launcher_xhdpi.png")) %>

<p><b>Hola, un usuario quiere suscribirse a nuestro boletin!</b></p>

<p> Correo: <%= @email %> </p>
<p> Fecha: <%= l DateTime.new %></p>

<%= render "firma" %>