// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#footer > div > a > img{
  width: 40px;
}

.bg-color-main {
    background-color: transparent !important;
}

.error {
  color: #C30;
}