<!DOCTYPE html>
<html>
<head>
  <title>Crack - Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">

  <%= yield %>

</body>
</html>
